<div *ngFor="let employee of employees">
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img [src]="employee.photoPath">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title">{{employee.name}}</h3>
          <div class="card-text">
            <div class="row">
              <div class="col-md-6">Gender</div>
              <div class="col-md-6">: {{employee.gender}}</div>
            </div>
            <div class="row">
              <div class="col-md-6">Date of Birth</div>
              <div class="col-md-6">: {{employee.dateOfBirth | date}}</div>
            </div>
            <div class="row">
              <div class="col-md-6">Contact Preference</div>
              <div class="col-md-6">: {{employee.contactPreference}}</div>
            </div>
            <div class="row">
              <div class="col-md-6">Phone</div>
              <div class="col-md-6">: {{employee.phoneNumber}}</div>
            </div>
            <div class="row">
              <div class="col-md-6">Email</div>
              <div class="col-md-6">: {{employee.email}}</div>
            </div>
            <div class="row">
              <div class="col-md-6">Department</div>
              <div class="col-md-6">: {{employee.department}}</div>
            </div>
            <div class="row">
              <div class="col-md-6">Is Active</div>
              <div class="col-md-6">: {{employee.isActive}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
